/* ----------------------------------------------- */
/* EXPERIENCE */
/* ----------------------------------------------- */

page .title h1 {
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
    color: #305ea8;
}

.sections .col {
    padding: 10px 0;
    box-shadow: 0 2px 2px #efefef;
    border-radius: 20px;
    background-color: #fff;
}

.sections .col .col {
    padding: 0;
    box-shadow: 0 0 0 0;
    border-radius: 20px;
}

.sections .span-1-of-2 {
    text-align: right;
}

.sections img {
    border-radius: 15px;
    height: 30vh;
    width: auto;
}

.sections .info p:first-child,
.sections .info p:last-child {
    text-align: justify;
    padding: 0;
    text-transform: uppercase;
}

.sections .info:first-child p:first-child {
    padding-top: 0;
}

.sections .info p:first-child {
    padding-top: 20px;
    font-size: 2vh;
}

.sections .info p:last-child {
    font-weight: bold;
    letter-spacing: 3px;
}

.sections .roles-info {
    background-color: #f5f5f5;
    border-radius: 20px;
    text-align: center;
    letter-spacing: 2px;
}

.sections .roles-info p {
    text-transform: uppercase;
}

.sections .roles-info p:first-child {
    font-weight: bold;
    margin-top: 5%;
}

.sections .roles-info p:last-of-type {
    font-size: 2vh;
    margin-bottom: 5%;
}

.sections .info p span {
    font-weight: normal;
}

.sections .time p {
    font-weight: bold;
}

.sections .btn {
    color: #5f5f5f;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
    padding: 5px 0;
    margin: 2.5%;
    width: 95%;
    background-color: #eaeaea;
    border-radius: 25px;
    text-align: center;
    transition: background-color 0.5s;
}

.sections .btn:hover {
    background-color: #d9d9d9;
}

/* ----------------------------------------------- */
/* EXPERIENCE MOBILE */
/* ----------------------------------------------- */

@media only screen and (max-width: 480px) {
    .sections {
        margin-top: 20px;
    }
    
    .sections img {
        width: 100%;
        height: auto;
    }
    
    .sections .roles,
    .sections .col .col {
        margin-top: 10px;
    }
    
    .sections .col .col:first-child {
        margin-top: 0;
    }
    
    .sections .info p:last-child,{
        letter-spacing: 0;
    }
    
    .sections .info:last-child {
        margin-bottom: 20px;
    }
}