/* -------- BASIC SETUP -------- */

* {
    margin: 0;
    padding: 0;
}

html,
body {
    background-color: #fff;
    font-weight: 300;
    font-size: 20px;
    color: #fff;
    text-rendering: optimizeLegibility;
    font-family: 'Lato', sans-serif;
    scroll-behavior: smooth;
}

body {
    animation: fadeInDown 0.3s linear;
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* -------- LINKS -------- */

a:link,
a:visited {
    color: #fff;
    text-decoration: none;
    transition: color 0.5s;
}

a:hover,
a:active {
    color: rgba(255, 255, 255, 0.5);
    text-decoration: none;
}

/* -------- STATES AND BASIC STYLING -------- */

.disabled {
    opacity: 0.5;
}

.center {
    width: 100%;
    text-align: center;
}

.same-height {
    display: flex;
    align-items: stretch;
}

/* -------- SIDEBAR -------- */

#sidebar {
    z-index: 1;
    position: fixed;
    width: 20%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.9);
    padding: 50px;
}

#logo {
    display: flex;
    align-items: center;
}

#logo img {
    display: inline-block;
    border-radius: 50%;
    height: 50px;
}

#logo #name {
    display: inline-block;
    font-size: 35px;
    font-weight: bold;
    letter-spacing: 2px;
    margin-left: 10px;
}

#menu {
    margin: 0;
    padding: 0;
    list-style: none;
    margin: 50px 0 0 0;
}

#menu li {
    white-space: nowrap;
    margin: 20px 0 0 0;
}

#menu li a {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 20px;
    letter-spacing: 2px;
    font-weight: bold;
    cursor: pointer;
}

#menu .submenu-content {
    margin: 0 0 0 20px;
    padding: 0;
    list-style: none;
}

#menu .submenu-content li {
    margin-top: 10px;
}

#cv {
    margin: 50px 0 0 0;
    padding: 20px 10px;
    border-radius: 10px;
    cursor: pointer;
    text-align: center;
    border: 1px solid #fff;
    transition: background-color 0.5s, color 0.5s;
}

#cv:hover {
    background-color: rgba(255, 255, 255, 0.1);
    color: #fff;
}

#footer {
    text-align: center;
    margin: 50px 0 0 0;
}

/* -------- PAGE -------- */

#page {
    z-index: 0;
    position: fixed;
    left: calc(20% + 100px);
    width: calc(100% - (20% + 100px));
    height: 100vh;
    border: none;
}

/* -------- SECTIONS -------- */

.section:nth-child(2n) {
    background-color: rgba(0, 0, 0, 0.8);
}

.section:nth-child(2n+1) {
    background-color: rgba(0, 0, 0, 0.7);
}

.section {
    padding: 50px !important;
    min-height: calc(100vh - 100px);
}

.section h1 {
    text-transform: uppercase;
    letter-spacing: 2px;
}

/* -------- ABOUT ME -------- */

div.row.with-space {
    margin: 40px 0 0 0;
}

div.row:first-child {
    margin: 0;
}

.about-me img {
    width: 30%;
    height: auto;
    border-radius: 50%;
}

.about-me .info {
    text-align: justify;
    font-weight: 400;
}

.about-me .social,
.about-me .languages {
    text-align: center;
    margin-top: 20px;
}

.about-me .social p,
.about-me .languages p {
    font-weight: 400;
}

.about-me .languages .language {
    font-size: 30px;
    font-weight: 300;
}

.about-me .languages .level {
    margin-left: 5px;
    font-weight: 400;
}

.about-me .social ion-icon {
    font-size: 40px;
}

/* -------- EXPERIENCE, EDUCATION AND PROJECTS -------- */

.box,
.details {
    background-color: rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 5px 0 gray;
    border-radius: 20px;
    padding: 20px 0;
}

.education .details,
.experience .details {
    padding: 20px 0;
}

.education img,
.experience img {
    width: calc(100% - 20px);
    height: auto;
    border-radius: 20px;
    margin-left: 20px;
}

.time-from,
.time-to,
.degree,
.website,
.role,
.name {
    font-weight: bold;
}

.degree,
.website,
.role {
    padding-top: 20px;
}

.projects img {
    width: 60px;
    border-radius: 50%;
    margin: 0 0 0 20px;
}

.projects .description,
.projects .language {
    text-align: justify;
}

.projects .language span {
    font-weight: normal;
}

#personal-projects .row .row .row {
    margin: 20px 0 0 0;
}

#personal-projects .row .row .row:first-child {
    margin: 0;
}

.time::before,
.degree::before,
.website::before,
.role::before,
.name::before,
.courses .name-no-link::before,
.description::before,
.type::before,
.projects .language::before,
.projects .subject::before {
    color: rgba(0, 255, 0, 0.8);
    letter-spacing: 2px;
    font-size: 22px;
    font-weight: normal;
}

.time-from::before,
.time-to::before {
    color: rgba(0, 255, 0, 0.8);
    letter-spacing: 2px;
    font-size: 17px;
    font-weight: normal;
}

.education .time::before,
.experience .time::before,
.projects .time::before {
    content: "Time";
}

.education .time-from::before,
.experience .time-from::before {
    content: "From";
}

.education .time-to::before,
.experience .time-to::before {
    content: "To";
}

.experience .role::before {
    content: "Role";
}

.education .degree::before {
    content: "Degree";
}

.education .website::before,
.experience .website::before {
    content: "Website (Link)";
}

.projects .name::before,
.courses .name::before {
    content: "Name (Link)";
}

.courses .name-no-link::before {
    content: "Name";
}

.projects .description::before {
    content: "Description";
}

.projects .language::before {
    content: "Language(s)";
}

.projects .subject::before {
    content: "Subject";
}

.courses .type::before {
    content: "Type";
}

#personal-projects .description,
#personal-projects .language {
    padding-right: 20px;
}

#academic-projects .name p,
#academic-projects .time p,
#academic-projects .name::before,
#academic-projects .time::before,
.courses .name-no-link p,
.courses .name-no-link::before {
    margin-left: 20px;
}

.education .role span,
.experience .role span {
    font-weight: normal;
}

.details-btn {
    text-align: center;
    text-transform: capitalize;
    font-weight: 400;
    background-color: rgba(0, 0, 0, 0.2);
    padding: 5px 0;
    border-radius: 20px;
    cursor: pointer;
    margin: 20px 20px 0 20px;
}

.details {
    display: none;
    margin: 20px 20px 0 20px;
}

.details .role-title {
    width: 100%;
    text-align: right;
    text-transform: capitalize;
    font-weight: bold;
}

.details .time-title {
    width: 100%;
    text-align: left;
    text-transform: capitalize;
}

#mobile-menu-open,
#mobile-menu-close {
    display: none;
    position: fixed;
    right: 20px;
    top: 20px;
    font-size: 30px;
}

@media only screen and (max-width: 480px) {
    .same-height {
        display: block;
    }

    #sidebar {
        display: none;
        width: calc(100% - 100px);
        background-color: rgba(0, 0, 0, 0.95);
    }

    #page {
        width: 100%;
        left: 0;
    }

    #mobile-menu-open,
    #mobile-menu-close {
        z-index: 899;
    }

    #mobile-menu-open {
        display: block;
    }

    .section h1 {
        text-transform: uppercase;
        letter-spacing: 2px;
        text-align: center;
    }

    .about-me img {
        width: 100%;
    }

    .education img,
    .experience img {
        width: calc(100% - 40px);
        height: auto;
        border-radius: 20px;
        margin-left: 20px;
    }

    .experience .time,
    .experience .role,
    .experience .website,
    .education .time,
    .education .degree,
    .education .website,
    #personal-projects .name,
    #personal-projects .description,
    #personal-projects .language,
    #academic-projects .subject,
    #academic-projects .language,
    #courses .name,
    #courses .type {
        padding-left: 20px;
    }

    .experience .time,
    #personal-projects .name,
    #academic-projects .subject,
    #academic-projects .time,
    #academic-projects .language {
        padding-top: 20px;
    }

    .box {
        margin-top: 20px !important;
    }

    .box:first-child {
        margin-top: 0 !important;
    }

    .details .role-title,
    .details .time-title {
        text-align: center;
    }

    .details .time-title {
        margin-bottom: 20px;
    }
}

/*#menu .submenu {
    position: relative;
    display: inline-block;
}

#menu .submenu-content {
    display: none;
    top: 30px;
    position: absolute;
    background-color: rgba(240, 240, 240, 0.95);
    box-shadow: 0 20px 20px -20px gray;
    min-width: 100px;
    padding: 10px;
    z-index: 801;
}

#menu .submenu-content li {
    display: block;
    margin: 5px 10px !important;
}
  
#menu .submenu:hover .submenu-content {
    display: block;
}*/

/* -------- HEADER -------- */

/*#header {
    height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/img/capa.png");
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgba(255, 255, 255, 1);
}

#header #header-content {
    text-align: center;
}

#header #header-content img {
    border-radius: 50%;
    height: 300px;
}

#header #header-content h1 {
    margin-top: 40px;
    text-transform: uppercase;
    letter-spacing: 10px;
}

#header #continue {
    position: absolute;
    top: 90vh;
}

#header #continue ion-icon {
    font-size: 5vh;
    color: rgba(255, 255, 255, 1);
}

/* -------- SHOWN AND HIDDEN SECTIONS -------- */

/*#about-me,
#experience,
#education,
#personal-projects,
#academic-projects {
    display: none;
}

#about-me:target {
    display: block;
}

#experience:target {
    display: block;
}

#education:target {
    display: block;
}

#personal-projects:target {
    display: block;
}

#academic-projects:target {
    display: block;
}*/