/* ----------------------------------------------- */
/* BASIC SETUP */
/* ----------------------------------------------- */

* {
  margin: 0;
  padding: 0;
}

html,
body {
  background-color: #fff;
  font-weight: 300;
  font-size: 20px;
  text-rendering: optimizeLegibility;
  overflow-x: hidden;
}

/* ----------------------------------------------- */
/* HOMEPAGE */
/* ----------------------------------------------- */


