/* ----------------------------------------------- */
/* BASIC SETUP */
/* ----------------------------------------------- */

* {
    margin: 0;
    padding: 0;
}

html,
body {
    background-color: #fff;
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;
    overflow-x: hidden;
    font-family: 'Lato', sans-serif;
}

/* ----------------------------------------------- */
/* HOMEPAGE */
/* ----------------------------------------------- */

header {
    height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/capa.png");
    background-size: cover;
}

header .menu {
    padding: 2% 10% 0 10%;
}

header .menu img {
    height: 7vh;
    border-radius: 50%;
}

header .menu li,
header .menu li a {
    text-decoration: none;
    border-bottom: solid 2px rgba(255, 255, 255, 0);
    padding-bottom: 5px;
    color: white;
    list-style: none;
    display: inline-block;
    margin-left: 2%;
    font-size: 100%;
    vertical-align: middle;
    transition: border-bottom 0.2s;
}

header .menu li:first-child {
    padding-left: 0;
}

header .menu li:hover {
    border-bottom: solid 2px white;
    padding-bottom: 5px;
}

header .menu li:first-child:hover {
    border-bottom: solid 2px rgba(255, 255, 255, 0);
}

header .welcome {
    text-align: center;
    width: 100%;
    padding-top: 13vh;
}

header .welcome h1,
header .welcome p {
    margin-top: 1%;
    color: #f5f5f5;
    text-transform: uppercase;
    letter-spacing: 1vh;
}

header .welcome img {
    height: 30vh;
    border-radius: 50%;
}

header .arrow {
    padding-top: 8vh;
    text-align: center;
}

header .arrow p {
    color: white;
    font-size: 15px;
    text-transform: uppercase;
}

header .arrow ion-icon {
    color: #fff;
    font-size: 7vh;
}

.homepage-experience-section,
.homepage-education-section {
    padding: 60px 10%;
}

.homepage-experience-section {
    background-color: #f5f5f5;
}

.homepage-education-section {
    background-color: #f0f0f0;
}

.homepage-experience-section h1,
.homepage-education-section h1 {
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
    color: #305ea8;
}

.homepage-experience-section .col,
.homepage-education-section .col {
    padding: 10px 0;
    box-shadow: 0 2px 2px #efefef;
    border-radius: 20px;
    background-color: #fff;
}

.homepage-experience-section ul,
.homepage-education-section ul {
    list-style: none;
}

.homepage-experience-section ul li:first-child,
.homepage-education-section ul li:first-child {
    margin: 0 20px;
    float: left;
}

.homepage-experience-section img,
.homepage-education-section img {
    border-radius: 15px;
    height: 20vh;
    width: auto;
}

.homepage-experience-section .time::before,
.homepage-experience-section .role::before,
.homepage-education-section .time::before,
.homepage-education-section .degree::before {
    color: #0000aa;
    letter-spacing: 2px;
    font-size: 17px;
    font-style: normal;
}

.homepage-experience-section .time::before,
.homepage-education-section .time::before {
    content: "time";
}

.homepage-experience-section .role::before {
    content: "role(s)";
}

.homepage-education-section .degree::before {
    content: "degree";
}

.homepage-experience-section .time p,
.homepage-experience-section .role p,
.homepage-education-section .time p,
.homepage-education-section .degree p {
    font-weight: bold;
}

.homepage-experience-section .btn,
.homepage-education-section .btn {
    color: #5f5f5f;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
    padding: 5px 0;
    margin: 1% 2.5%;
    width: 95%;
    background-color: #f5f5f5;
    border-radius: 25px;
    text-align: center;
    transition: background-color 0.5s;
}

.homepage-experience-section .btn:hover,
.homepage-education-section .btn:hover {
    background-color: #eaeaea;
}

@media only screen and (max-width: 480px) {
    header {
       height: 100vh;
    }
    
    .homepage-experience-section .time,
    .homepage-education-section .time,
    .homepage-experience-section .role,
    .homepage-education-section .degree {
        margin-left: 10px;
    }
    
    .homepage-experience-section .col:first-child,
    .homepage-education-section .col:first-child {
        margin-top: 0;
    }
    
    .homepage-experience-section .col,
    .homepage-education-section .col {
        margin-top: 10px;
    }
    
    .homepage-experience-section img,
    .homepage-education-section img {
        width: 100%;
        height: auto;
    }
    
    .homepage-experience-section .btn,
    .homepage-education-section .btn {
        margin-top: 5%;
    }
}
