/* ----------------------------------------------- */
/* BASIC SETUP */
/* ----------------------------------------------- */

* {
    margin: 0;
    padding: 0;
}

html,
body {
    background-color: #fff;
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;
    overflow-x: hidden;
    font-family: 'Lato', sans-serif;
}

/* ----------------------------------------------- */
/* HOMEPAGE */
/* ----------------------------------------------- */

header {
    height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/capa.png");
    background-size: cover;
}

header .menu {
    padding: 2% 10% 0 10%;
}

header .menu img {
    height: 7vh;
    border-radius: 50%;
}

header .menu li:hover {
    opacity: 0.7;
}

header .menu li {
    color: white;
    list-style: none;
    display: inline-block;
    padding-left: 2%;
    font-size: 100%;
    vertical-align: middle;
    transition: opacity 0.2s;
}

header .menu li:first-child {
    padding-left: 0;
}

header .welcome {
    text-align: center;
    width: 100%;
    padding-top: 15vh;
}

header .welcome h1,
header .welcome p {
    margin-top: 1%;
    color: #f5f5f5;
    text-transform: uppercase;
    letter-spacing: 1vh;
}

header .welcome img {
    height: 30vh;
    border-radius: 50%;
}

header .arrow {
    padding-top: 12vh;
    text-align: center;
}

header .arrow ion-icon {
    color: #fff;
    font-size: 7vh;
}

.homepage-experience-section {
    background-color: #f5f5f5;
    padding: 60px 10%;
}

.homepage-experience-section h1 {
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
}

.homepage-experience-section .col {
    padding: 10px 0;
    box-shadow: 0 2px 2px #efefef;
    border-radius: 20px;
    background-color: #fff;
}

.homepage-experience-section ul {
    list-style: none;
}

.homepage-experience-section ul li:first-child {
    margin: 0 20px;
    float: left;
}

.homepage-experience-section img {
    border-radius: 15px;
    height: 20vh;
    width: auto;
}

.homepage-experience-section .time::before,
.homepage-experience-section .role::before {
    color: #0000aa;
    letter-spacing: 2px;
    font-size: 17px;
    font-style: normal;
}

.homepage-experience-section .time::before {
    content: "time";
}

.homepage-experience-section .role::before {
    content: "role(s)";
}

.homepage-experience-section .time p,
.homepage-experience-section .role p {
    font-weight: bold;
}

.homepage-experience-section .btn {
    color: #5f5f5f;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
    padding: 5px 0;
    margin: 1% 2.5%;
    width: 95%;
    background-color: #f5f5f5;
    border-radius: 25px;
    text-align: center;
}

@media only screen and (max-width: 480px) {
    header {
       height: 100vh;
    }
    
    .homepage-experience-section .time,
    .homepage-experience-section .role {
        margin-left: 10px;
    }
    
    .homepage-experience-section .col:first-child {
        margin-top: 0;
    }
    
    .homepage-experience-section .col {
        margin-top: 10px;
    }
    
    .homepage-experience-section img {
        width: 100%;
        height: auto;
    }
    
    .homepage-experience-section .btn {
        margin-top: 5%;
    }
    
    /*.sub-header {
        display: none;
    }*/
}

/*.sub-header {
    width: 100%;
}

.sub-header .about-me,
.sub-header .about-studies,
.sub-header .about-work,
.sub-header .more {
    width: 25%;
}

.sub-header,
.sub-header .about-me,
.sub-header .about-studies,
.sub-header .about-work,
.sub-header .more {
    margin: 0;
    height: 20vh;
}

.sub-header .about-me,
.sub-header .about-work {
    background-color: #f5f5f5;
}

.sub-header .about-studies,
.sub-header .more {
    background-color: #f0f0f0;
}

.sub-header .about-me img {
    height: 15vh;
    border-radius: 50%;
    margin-top: 2.5vh;
    margin-left: 5vh;
}

.sub-header .about-me .infos {
    font-weight: bold;
    margin-left: 4%;
    margin-top: 7vh;
}

.sub-header .about-me .infos h2,
.sub-header .more h2 {
    color: #48821d;
}

.sub-header .about-me .infos p {
    color:#0000aa;
}

.sub-header .more h2 {
    padding-top: 19%;
    text-align: center;
}*/