* ----------------------------------------------- */
/* EXPERIENCE */
/* ----------------------------------------------- */

header {
    /*style-common.css*/
}

header .menu {
    /*style-common.css*/
}

header .menu img {
    /*style-common.css*/
}

header .menu li,
header .menu li a {
    /*style-common.css*/
}

header .menu li:hover {
    /*style-common.css*/
}

header .menu ion-icon {
    /*style-common.css*/
}

.page {
    padding: 60px 10%;
    background-color: #f5f5f5;
}

.impar-section {
    background-color: #f0f0f0;
}

.page .title h1 {
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
    color: #305ea8;
}

.page .col {
    padding: 10px 10px;
    box-shadow: 0 2px 2px #efefef;
    border-radius: 20px;
    background-color: #fff;
}

.page .col .col {
    padding: 0;
    box-shadow: 0 0 0 0;
    border-radius: 20px;
}

.happycode-section .span-1-of-2,
.forallphones-section .span-1-of-2 {
    text-align: right;
}

.happycode-section img,
.forallphones-section img {
    border-radius: 15px;
    height: 30vh;
    width: auto;
}

.happycode-section .info p:first-child,
.happycode-section .info p:last-child,
.forallphones-section .info p:first-child,
.forallphones-section .info p:last-child {
    text-align: justify;
    padding: 0;
    text-transform: uppercase;
}

.happycode-section .info:first-child p:first-child,
.forallphones-section .info:first-child p:first-child {
    padding-top: 0;
}

.happycode-section .info p:first-child,
.forallphones-section .info p:first-child {
    padding-top: 20px;
    font-size: 2vh;
}

.happycode-section .info p:last-child,
.forallphones-section .info p:last-child {
    font-weight: bold;
    letter-spacing: 3px;
}

.forallphones-section .roles {
    background-color: #f5f5f5;
    border-radius: 20px;
    padding: 1%;
    text-align: center;
    font-weight: bold;
    letter-spacing: 2px;
}

.happycode-section .info p span,
.happycode-section .info p span,
.forallphones-section .info p span,
.forallphones-section .info p span {
    font-weight: normal;
}

.forallphones-section .time p,
.forallphones-section .role p {
    font-weight: bold;
}

@media only screen and (max-width: 480px) {
    .happycode-section {
        margin-top: 20px;
    }
    
    .forallphones-section img,
    .happycode-section img {
        width: 100%;
        height: auto;
    }
    
    .forallphones-section .col .col,
    .forallphones-section .roles,
    .happycode-section .col .col {
        margin-top: 10px;
    }
    
    .forallphones-section .col .col:first-child,
    .happycode-section .col .col:first-child {
        margin-top: 0;
    }
    
    .happycode-section .info p:last-child,
    .forallphones-section .info p:last-child {
        letter-spacing: 0;
    }
}
