#project #back {
    display: inline-block;
    margin-bottom: 20px;
    text-decoration: none;
}

#project .header {
    display: flex;
    align-items: center;
}

#project .header img {
    height: 70px;
    border-radius: 10px;
    margin-right: 20px;
}

#project .header .name {
    font-weight: bold;
    font-size: 25px;
    padding: 0;
    margin: 0;
}

#project .header div {
    width: 100%;
}

#project .header .info {
    display: flex;
    align-items: center;
    margin: 0;
    font-size: 80%;
}

#project .header .info a,
#project .header .info span {
    display: flex;
    align-items: center;
    margin-right: 20px;
}

#project .header .info svg {
    height: 15px;
    width: 15px;
    margin-right: 5px;
    color: #000;
}

#project .description p {
    text-align: justify;
    margin: 0;
    padding: 0 0 0 10px;
    text-indent: 10px;
}

#project #screenshot-pagination {
    list-style: none;
    padding: 10px 0;
    margin: 0;
    text-align: center;
}

#project #screenshot-pagination li {
    display: inline-block;
    margin-right: 10px;
    cursor: pointer;
    font-weight: bold;
    transition: color 0.2s;
}
#project #screenshot-pagination li.active {
    color: var(--main-color);
}
#project #screenshot-pagination li:last-child {
    margin-right: 0;
}

#project #screenshot {
    width: 100%;
}

@media(max-width: 500px) {
    #project .header {
        flex-direction: column;
        align-items: center;
        margin-bottom: 10px;
    }

    #project .header img {
        height: 60px;
        width: auto;
        margin-right: 0;
    }

    #project .header div {
        width: 100%;
    }

    #project .header .name {
        text-align: center;
    }

    #project .header .info {
        flex-direction: column;
        margin: 5px 0;
    }

    #project .header .info a,
    #project .header .info span {
        margin-right: 0;
    }

    #project .header .url {
        justify-content: center;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    #project .description {
        padding: 0;
    }

    #project .description p {
        text-align: justify;
        margin: 0;
        padding: 0;
        text-indent: 10px;
    }
}