.projects .projects-list {
    flex-direction: column;
    list-style: none;
    margin: 0;
    padding: 0;
    overflow-y: auto;
}

.projects .projects-list li {
    display: block;
    min-height: 100%;
    padding: 10px 0;
}

.project .back {
    display: inline-block;
    text-decoration: none;
    padding-bottom: 20px;
}

.project .header {
    display: flex;
    align-items: center;
}

.project .header .logo {
    height: 70px;
    width: 70px;
    border-radius: 10px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 10px;
    margin-right: 20px;
}

.project .header .name {
    font-weight: bold;
    font-size: 25px;
    padding: 0;
    margin: 0;
}

.project .header > div {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.project .header .info {
    display: flex;
    align-items: center;
    margin: 0;
    font-size: 80%;
}

.project .header .info a,
.project .header .info span {
    display: flex;
    align-items: center;
    margin-right: 20px;
}

.project .header .info svg {
    height: 15px;
    width: 15px;
    margin-right: 5px;
    color: #000;
}

.project .description p {
    text-align: justify;
    margin: 0;
    padding: 0 0 0 10px;
    text-indent: 10px;
}

.project .carousel {
    height: 470px;
    margin-top: 10px;
    border-radius: 4px;
}

.project .carousel .img-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

.project .carousel img {
    max-height: 470px;
    max-width: 100%;
    margin: 0 auto;
}

.project #screenshot-pagination {
    list-style: none;
    padding: 10px 0;
    margin: 0;
    text-align: center;
}

.project #screenshot-pagination li {
    display: inline-block;
    margin-right: 10px;
    cursor: pointer;
    font-weight: bold;
    transition: color 0.2s;
}
.project #screenshot-pagination li.active {
    color: var(--main-color);
}
.project #screenshot-pagination li:last-child {
    margin-right: 0;
}

.project #screenshot {
    width: 100%;
}

#list-open,
#list-close {
    display: none;
    position: absolute;
    top: -32px;
    left: 0;
}

#list-open svg,
#list-close svg {
    height: 24px;
    width: 24px;
}

@media(max-width: 500px) {
    .projects .filters {
        margin-left: 28px;
        overflow-x: scroll;
        width: calc(100% - 74px);
    }

    .projects .filters ul {
        width: fit-content;
    }

    #list-open,
    #list-close {
        display: block;
        z-index: 5;
    }

    .projects .filters li:hover {
        background-color: unset;
    }

    .projects .filters li.selected {
        background-color: rgba(255, 255, 255, .9);
    }

    .project .header {
        flex-direction: column;
        align-items: center;
        margin-bottom: 10px;
    }

    .project .header .logo {
        height: 60px;
        width: 60px;
        margin-bottom: 10px;
        margin-right: 0;
    }

    .project .header div {
        width: 100%;
    }

    .project .header .name {
        text-align: center;
    }

    .project .header .info {
        flex-direction: column;
        gap: 5px;
        margin: 5px 0;
    }

    .project .header .info a,
    .project .header .info span {
        margin-right: 0;
    }

    .project .header .url {
        justify-content: center;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .project .description {
        padding: 0;
    }

    .project .description p {
        text-align: justify;
        margin: 0;
        padding: 0;
        text-indent: 10px;
    }

    .project .carousel {
        height: max-content;
    }
}
