#work .company {
    display: flex;
}

#work .company img {
    height: 70px;
    border-radius: 10px;
    margin-right: 20px;
}

#work .company .name {
    font-weight: bold;
    font-size: 25px;
    padding: 0;
    margin: 0;
}

#work .company .location {
    display: flex;
    align-items: center;
    margin: 15px 0 0 0;
}

#work .company .location svg {
    height: 20px;
    width: 20px;
}

#work .positions {
    padding: 0 0 20px 90px;
    margin: 0;
    list-style: none;
}
#work .positions:last-child {
    padding-bottom: 0;
}

#work .positions h3 {
    display: flex;
    align-items: center;
    text-align: justify;
}
#work .positions h3::after {
    display: none;
}

#work .positions h3 span {
    display: flex;
    align-items: center;
    margin-left: 10px;
    font-size: 70%;
    font-weight: normal;
    text-transform: none;
    opacity: 0.7;
}

#work .positions h3 span svg {
    height: 12px;
    width: 12px;
    margin-right: 2px;
}

#work .positions .description {
    margin: 0;
    padding: 0;
    text-align: justify;
}

#work .positions .description p {
    margin: 0;
    padding: 0 0 0 10px;
    text-indent: 10px;
}

@media(max-width: 500px) {
    #work .company {
        margin-top: 30px;
        padding-top: 30px;
        border-top: 1px solid gray;
        flex-direction: column;
    }
    #work .company:first-child {
        margin-top: 0;
        padding-top: 0;
        border-top: none;
    }

    #work .company img {
        width: 70px;
        height: auto;
        margin: 0 auto;
    }

    #work .company div {
        text-align: center;
    }

    #work .company .location {
        margin-top: 5px;
        justify-content: center;
    }

    #work .positions {
        padding: 0;
    }

    #work .positions .role {
        flex-direction: column;
    }

    #work .positions .description p {
        margin: 0;
        padding: 0;
        text-indent: 10px;
    }
}